{% load staticfiles %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Access-Control-Allow-Origin" content="IE=edge">
    <meta charset="utf-8">
    <title>Subscribe Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--  styles -->

    <link href="{% static 'css/subscribe.css'%}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/subscribeStyle.css'%}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Art Gallery Events</a>
        </div>
      </div>
    </div>



      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="page-header">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h1>Wanna know more?</h1>
				</div>
			</div>
		</div>
      </div>
<div class="container">
      <!-- Example row of columns -->
	<hr>
	<div class="row-fluid">

			<h3>SUBSCRIBE TO GET THE LATEST NEWS!</h3>
			<!-- CONTACT FORM -->
			<div class="row-fluid">
				<label>Name</label><input  id = "name" class="span12" type="text" name="name" value=""><br>

				<label>E-Mail</label><input  id = "email" class="span12" type="text" name="email" value=""><br>

        <label>&nbsp;</label>

      </div>
        <button class="btn btn-large btn-info" id = "submit" type="button">submit</button>
			<!-- END CONTACT FORM -->
		</div>
      </div>

      <hr>

      <footer style="text-align: center;">
        <p>© Art Gallery Event</p>
      </footer>

    </div>

<script>
  $("#submit").click(function () {
    var arr = {
      Name: $("#name").val(),
      Email: $("#email").val(),
    };

    console.log("arr:" + JSON.stringify(arr));
    $.ajax({
      url: 'http://127.0.0.1:8000/contact/',
      type: 'POST',
      data: JSON.stringify(arr),
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      async: true,
      success: function (msg) {
        alert(msg);
      }
    });
  })
</script>
<!-- CONTACT FORM SCRIPT -->
</body>
</html>