body {
	font-family: source-sans-pro;
	background-color: #fdfffe;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

/* Navigation */
header {
	width: 100%;
	height: 6%;
	background-color: #c5cbcb;
	border-bottom: 1px solid rgb(166, 170, 179);
}
.logo {
	color: rgb(137, 163, 249);
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
	margin-top: 15px;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: rgb(186, 198, 201);
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}

/* Hero Section */
.hero {
	background-color: #B3B3B3;
	padding-top: 20px;
	padding-bottom: 20px;
}
.light {
	font-weight: bold;
    color: #717070;
}
.container {
    width: 90%;
    margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 800px;
	background-color: white;
}



.search_header {
    display:block;
    margin-top: 0px;
}


.search_container {
    width: 100%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	color: rgba(228, 229, 248, 0.584);
    transition: all 0.s linear;
}


.selectbox {
    display: inline-block;
    padding-top: 10px;
    padding-left:30px;
    padding-right:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(252, 130, 81);
    text-align: center;
	vertical-align: left;
	border-radius: 0px;
	text-transform: none;
	font-weight: bold;
	letter-spacing: 0px;
}

/* More info */
footer {
    width:90%;
	background-color: #FFFFFF;
	padding-bottom: 35px;
	align-content: center;
	text-align: center;
}
.footer_column {
	width: 20%;
	text-align: center;
	padding-left: 32px;
	padding-right: 30px;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 250px;
	max-height: 300px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 30px;
	padding-bottom: 30PX;
	margin-bottom: 0px;
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}


h3 {
    font-family: fantasy;
    text-align: center;
}

.button_container_container{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: medium;
	width: 50%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	background-color: #ede3eeb1;
}

.container_card {
	height: 400px;
}

.h1_text {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}



.sort_container {
	font-family:Verdana, Geneva, sans-serif;
	text-align:right;
	height: 60px;
	text-align: right;
}

.title_container{
    height: 75px;
    color: white;
}

.title_text_container {
    height: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.left_content {
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 100px;
    text-align: left;
}

.left_content_sec {
	margin-left: 100px;
    margin-right: 50px;
}

.right_content{
    margin-left: 50px;
	margin-top: 100px;
	margin-right: 170px;
	
}

.content_container{
    background-color: yellow;
}

.button_container {
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    border-color: #6F7287;
    border-style: solid;
    border-left: auto;
    border-right: auto;
	background-color: #D6F5FF;
	width: 20%;
	font-size: 14px;
}

.p {
    color: #6F7287;
    margin-top: 20px;
}


.text-button-container {
	margin-left: auto;
	margin-right: auto;
	height: 25px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	width: 250px;
}

.text-button-info{
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	margin-top: 30px;
	font-size: 14px;
	color: #4b4d63;
}

.text-button-info_power{
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	margin-top: 10px;
	font-size: 10px;
	color: grey;
}

.order_summary{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	height: 50px;
}

.total_number{
	font-family:Verdana, Geneva, sans-serif;
	height: 40px;
	font-size: 14px;
	width: 100%;
}

.text_align_right{
	text-align: right;
}


.eds-g-cell{ 
	box-sizing: border-box;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	width: 100px;
	color: #4b4d63;
}


.eds-g-cell_sec{ 
	box-sizing: border-box;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	width: 100px;
	color: black;
	margin-top: 20px;
	font-size: 16px;
}

.form_box {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.form_text {
	font-size: 14px;
}